header#page-header
    h1.title FuckCalculator
    .subtitle This application automatically calculate the number of fucks I give

#page-content.content
    section#loading-section
        svg#circle(xmlns="http://www.w3.org/2000/svg", height="300", width="300", version="1.1", viewBox="0 0 500 500")
            g(stroke-linejoin="round", stroke-width="10", fill="none")
                circle(stroke="#b5b5b5", cx="250", r="240", cy="250")
                path#circle-progress
        #action-container.box
            .inner
                p press calculate to start counting
                button#start-button.btn.btn-lg.btn-primary
                    span.glyphicon.glyphicon-play
                    | &nbsp; Calculate
        #progress-container.box(style="display:none")
            .inner
                p calculating
                #progress-percent 0%

    section#result-section(style="display:none")
        .big-result
            .prop Fucks I give today
            .value 0
        .row.result-detail
            .col-md-4
                .prop Fucks I give this week
                .value 0
            .col-md-4
                .prop Fucks I give this month
                .value 0
            .col-md-4
                .prop Total fucks I give
                .value 0

        div.a2a_kit.a2a_default_style
            a.a2a_dd(href="https://www.addtoany.com/share_save?linkurl=http%3A%2F%2Ffuck.hafs.in%2F&amp;linkname=Fuck%20Calculator") Share
            span.a2a_divider
            a.a2a_button_facebook
            a.a2a_button_twitter
            a.a2a_button_google_plus
            a.a2a_button_email
        script(type="text/javascript").
            var a2a_config = {linkname: "Fuck Calculator", linkurl: "http://fuck.hafs.in/"};
        script(type="text/javascript", src="//static.addtoany.com/menu/page.js")






